li div { 
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #f1f1f1;
  text-align: center;
  font-size: 35px;
  margin: auto;
}

body {  
  background-color: #999999;
  font-family: Verdana, Helvetica, sans-serif;
  text-align: center;
  
}

.video-js-box { 
  width: 700px;
  height: 300px;
  border: 0;
}

video { 
}

p { 
  text-align: left;
  width: 60%;
  margin: 20px auto 30px auto;
}

ul { 
  margin: 0;
  padding: 0;
}

html {
  height:100%;
}

img {
  margin-top: 10px;
  border: 1px solid #999999;
  -webkit-box-shadow: 1px 1px 4px #666;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait){
   li div { 
     height: 985px;
   }

  .video-js-box { 
    margin: 25px 15px 25px 25px;

  }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  li div { 
    height: 725px;
  }

  .video-js-box { 
    margin: 25px 15px 25px 150px;

  }

  video { 
  }
}
