

li div { 
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #f1f1f1;
  text-align: center;
  font-size: 26px;
  margin: auto;
}

body {  
  background-color: #999999;
  font-family: Verdana, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
}


.video-js-box { 
  width: 700px;
  height: 300px;
  border: 0;
}

video { 
  margin-top: 10px;
  border: 1px solid #999999;
  -webkit-box-shadow: 1px 1px 4px #666;
  -webkit-border-radius: 3px;
}

p { 
  text-align: left;
  width: 70%;
  margin: 20px auto 30px auto;
}

ul { 
  margin: 0;
  padding: 0;
}

html {
  height:100%;
}

img {
  margin-top: 10px;
  border: 1px solid #999999;
  -webkit-box-shadow: 1px 1px 4px #666;
  -webkit-border-radius: 3px;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait){
   li div { 
     height: 985px;
   }

  #simple-modal img {
    margin-top: 200px;
  }

  .video-js-box { 
    margin: 10px 15px 25px 25px;
  }

  #simple-modal a.close {
    position: absolute;
    top: 15px;
   right: 160px;
   width: 10px;
  }

  ul.menu {
     width: 768px;
}

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  li div { 
    height: 725px;
  }

  #simple-modal img {
    margin-top: 100px;
  }

 #simple-modal a.close {
   position: absolute;
   top: 15px;
   right: 15px;
  }

  .video-js-box { 
    margin: 10px 15px 25px 150px;

  }

  ul.menu {
   width: 1024px;
  }
}

ul.menu  {
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  margin-right: auto;
  margin-top: -40px;
  margin-bottom: 20px;
  height: 40px;
  list-style-type: none;
  padding: 0;
}

ul.menu li {
  border: 2px solid #999999;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px #999999;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: 0 8px 0 8px;
  border-right: 1px solid #999999;
}

.disabled a {
  color: #919191;
}

ul.menu li:last-child {
}

li a {
  color: #444;
  text-decoration: none;
  
}
